
:root {
  --grey-text: #54677c;
  --black-text: #101112;
  --blue: #2476fe;
  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-25: 1.563rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: var(--size-14);
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--font-color-base);
  margin: 0;
  padding: 0;
}

.blue-button {
  color: white;
  font-weight: 600;
  background-color: var(--blue);
  padding: var(--size-14) var(--size-25);
  border-radius: 50px;
  border: none;
  font-size: var(--size-14);

}
