
@media screen and (max-width: 768px) {

  html {
    height: 7000px;
  }

  section {
    position: relative;
    margin-bottom: 250px;
  }

  .nav-box .navbar-toggle-box {
    display: block;
  }



  .nav-box .navbar, .nav-hero .button-box {
    display: none;
  }

  .nav-section .main-content {
    flex-direction: column;
    align-items: center;
  }

  .nav-section .main-content {
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .main-content .main-left-box {
    text-align: center;
    margin-bottom: 50px;
  }

  .main-content .icon-box {
    width: 70%;
  }

  .section1 .section1-header {
    margin-top: 400px;
  }

  .section1 .section1-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 500px;
  }

  .section1-grid .grid-column {
    width: 300px;

  }

  .section2 .container {
    flex-direction: column;
  }

  .section2 .section2-header {
    padding-left: 0px;
  }

  .section2-header .desktop-header {
    display: none;
  }

  .section2-header .tablet-header {
    display: block;
    text-align: center;
  }

  .section2 .section2-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section2 .section2-banner {
    width: 100%;
    margin-top: 30px;
  }

  .hero .section2 {
    margin-bottom: 130px;
  }

  .hero .section3 {
    margin-bottom: 0px;
  }

  .pic-element .pic  {
    margin-top: 0px;
  }

  .hero .section4 {
    margin-bottom: 350px;
  }

  .hero .section4 .container {
    flex-direction: column;

    text-align: center;
  }

  .hero .section5 {
    margin-bottom: 50px;
  }

  .section5 .container {
    margin: 0px 40px;
  }

  .section6 .card-section {
    flex-direction: column;
    align-items: center;
  }

  .section6 .card-section .card {
    width: 90%;
  }

  .section6 .container .card-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
  }

  .card-content .desktop-text {
    display: none;
  }

  .card-content .tablet-text {
    display: block;
    width: 100%;
  }

  .card-section .card .card-content hr {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }

  .card-section .mini-cards {
    width: 90%;
    margin-left: 30px;
  }

  .card-section .mini-cards .mini {
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .mini .mini-desktop-text {
    display: none;
  }

  .mini-cards .mini .mini-tablet-text {
    display: block;
    text-align: left;
    width: 100%;
  }

  .hero .section7 {
    padding: 0px 40px;
    flex-direction: column;
    height: 900px;
    margin-bottom: 0px;
  }

  .text-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .text-container-desktop-span1 {
    display: none;
  }

  .left-text-container .text-container-tablet-span1 {
    display: block;
  }

  .text-container .left-text-container hr {
    width: 100%;
  }

  .right-text-container h3 {
    font-size: 20px;
  }

  .text-container .right-text-container img {
    height: 40px;
  }


  .text-container .right-text-container .large-person {
    height: 60px;
  }

  .section7 .section7-form {
    min-width: 90%;
    margin: 0 auto;
    min-height: 0px;
    height: 600px;
    margin-bottom: 30px;
  }

  .form-header-desktop {
    display: none;
  }

  .section7-form .form-header-tablet {
    display: block;
  }

  .form-name-box .first-name {
    width: 100%;
  }

  .first-name .first-name-input input,
  .first-name .last-name-input input{
    width: 90%;

  }

  .budget-selector-container,
  .country-selector-container {
    width: 50%;
  }

  .budget-selector-container select,
  .country-selector-container select{
    width: 92%;
  }

  .section7-form .checkbox-box span {
    width: 550px;
    margin-left: 20px;
    text-align: left;
  }

  .section8 .top-footer {
    justify-content: flex-start;
  }

  .section8 .top-footer .logo-box {
    padding-left: 0px;
  }

  .top-footer .top-footer-right-box {
    height: 400px;
    flex-wrap: wrap;
    max-width: 400px;
    justify-content:flex-start;
  }

  .top-footer-right-box .company-box {
    width: 175px;
  }

  .hero .section8 {
    margin-bottom: 200px;
  }

  .hero .section9 {
    margin-bottom: 0px;
  }

}


@media screen and (max-width: 425px) {
  #icon-box {
    width: 90%;
  }

  #row1 {
    padding-bottom: 20px;
  }

  div#small-box {
    margin-left: 0px;
  }

  #icon2 {
    margin-right: 50px;
  }

  #row2 {
    padding-bottom: 20px;
  }

  #main-content {
    margin-bottom: 0px;
  }

  #section1 {
    height: 1100px;
  }

  #section1-header {
    margin-top: 300px;
  }

  section#section1-grid {
    margin-bottom: 0px;
  }

  #section3 {
    height: 500px;
  }

  #circles {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  div.line {
    display: none;
  }

  div.dot-text-container {
    margin-top: 20px;
  }

  div.text-list {
    display: none;
  }

  #circles {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: flex-start;
  }

  div.mobile-dot-text-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    justify-content: space-between;
    height: 85%;
  }

  /* div.section3-banner {
    margin-bottom: 50px;
  } */

  section.section4 {
    margin-top: 50px;
  }

  div.section4-container {
    margin-left: 30px;
  }

  div.container5-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.container5-logos div {
    margin-bottom: 20px;
  }

  #section6 {
    height: 1450px;
  }

  #section7 {
    height: 1120px;
  }

  div.text-container {
    flex-direction: column;
    text-align: center;
  }

  div.text-container-icons {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  /* div.form-button-box {
    margin-bottom: 20px;
  } */

  #section8 {
    margin: 0 auto;
  }

  #top-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    margin-top: 50px;
    align-items: center;
  }

  #top-footer-right-box {
    flex-direction: column;
    /* flex-wrap: nowrap; */
    width: 400px;
    height: 1000px;
    align-items: center;
    /* text-align: center; */
  }

  #section8 {
    height: 700px;
    display: flex;
    flex-direction: column;
  }

  #section9 {
    display: flex;
    flex-direction: column;
  }

  div.hr-box {
    margin-top: 120px;
  }

  #bottom-footer {
    flex-direction: column;
    align-items: center;
  }

  div.footer-socials {
    text-align: center;
    margin-top: 20px;
  }

  div.footer-socials select {
    margin-top: 20px;
  }

  select#footer-select {
    margin-top: 20px;
  }



}
