/* * {
  border: 1px solid red;
} */

.nav-section {
  width: 100%;
  height: 500px;
  background-image: url(/saas-project-assets/backgrounds/background-top.svg);
}

.nav-hero {
  display: flex;
  justify-content: space-between;
  padding: var(--size-20) var(--size-30);
}


.nav-img img {
  height: 40px;
}

.navbar-toggle-box {
  display: none;
  position: relative;
  margin-right: 30px;
}

.navbar-toggler {
  background: none;
  border: none;
}

.navbar-toggler span {
  /* height: 50px;
  width: 50px; */
  font-size: 40px;
}

.toggler-content {
  display: none;
  position: absolute;
  width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  line-height: 0;
  padding-top: 20px;
}

.navbar-toggle-box:hover .toggler-content {
  display: block;
}

.toggler-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}

.nav-box nav ul {
  display: flex;
  margin-right: -12rem;
}

.nav-box nav ul li {
  padding: 0 var(--size-10);
}

.features {
  color: var(--blue);
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 50px 40px;
}

.main-content .main-left-box .bold-header {
  padding-bottom: 20px;

}

.main-content .main-left-box .bold-header .header-text {
  font-size: 50px;
  line-height: 1;
  color: black;
}

.main-content .main-left-box .left-box-text {
  padding-bottom: 20px;
}

.main-content .main-left-box .left-box-text span {
  font-size: 16px;
}

.button-box button i {
  padding-right: 3px;
}

.button-box span {
  padding-left: 30px;
  color: var(--blue);
  font-size: var(--size-20);
  font-weight: 500;
}

.icon-box {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.row {
  display: flex;
  justify-content:space-between;
  padding-bottom: 60px;
}

.pic-box {
  background-color: white;
  box-shadow: 0px 0px 10px lightgray;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box div img {
  /* height: 4rem;
  box-shadow: 0px 0px 20px black ;
  border-radius: 50%;
  padding: 10px;
  object-fit: cover; */
  height: 60%;
}

.row3 {
  padding-bottom: 0px;
}

.icon-box .row2 .lg-img {
  height: 80%;
}

.icon-box .row .small-box {
  height: 60px;
  width: 60px;
}

.icon-box .row1 .small-box {
  margin-left: 40px;
}

.icon2 {
  margin-right: 100px;
}

.icon5 {
  margin-right: 120px;
}

.icon6 {
  margin-left: 100px;
}

.icon7 {
  margin-top: 20px;
}

.section1 {
  background-color: white;
  height: 500px;
}

.section1-header {
  margin-top: 120px;
  text-align: center;
}

.section1-header h3 {
  color: black;
  font-size: var(--size-30);
  margin-bottom: 0px;
}

.section1-header span {
  font-size: 17px;
}

.section1-grid {
  column-count: 4;
  max-width: 900px;
  gap: 30px;
  margin: 0 auto;
  margin-top: 50px;
}

.grid-column {
  box-shadow: 0px 5px 10px lightgray;
  height: 265px;
  /* display: flex;
  flex-direction: column; */
}

.responsive-pic {
  height: 55px;
  margin: 15px 15px 0px 15px;
}

.grid-column h3 {
  margin: 0px 15px 15px 15px;
}

.grid-header-button {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.grid-header-button h3 {
  margin-bottom: 0;
}

.grid-column .column-text, a {
  margin: 0px 10px 20px 15px;
}

.grid-column a {
  font-weight: 500;
  color: var(--blue);
}

.section2 {
  background-color: #f9f9f9;
  margin: 0px 30px;
  height: 400px;
  display: flex;
  justify-content: space-between;
}

.section2 .container {
  /* background-color: lightgray; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
}
.section2-header {
  line-height: 1.2;
  padding-left: 30px;
}

.tablet-header {
  display: none;
}

.section2-header h3 {
  font-size: 30px;
  font-weight: 400;

}

.section2-banner {
/* display: flex; */
width: 50%;
align-self: flex-end;
}

.section2-banner img{
  width: 100%;
  /* bottom: 0; */

}

.section3 {
  height: 800px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.section3 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section3 .container .section3-header {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.section3-header h3 {
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 70px;
}

.section3-header h3, span {
  width: 60%;
  text-align: center;
}

.circles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  width: 70%;
}

.dot-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dot-container {
  background-color: #edf2ff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  background-color: var(--blue);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: inline-block;

}

/* .dot-text-container .text {
  padding-top: 20px;
  color: black;
} */

.line {
  width: 170px;
  height: 1px;
  border-bottom: 1px solid rgb(231, 231, 231);

  }

  .text-list {
    margin-top: 20px;
    width: 75%;
    display: flex;
    justify-content: space-between;
  }

  .text-list .text span {
    color: black;
  }

  .components {
    margin-left: 20px;
  }

  .section3-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .section3-banner .img {
    position: relative;
    z-index: -1;
  }

  .section3-banner .img img {
    position: relative;
    z-index: -1;
    width: 100%;
    margin-top: 50px;
  }

  .section3-banner .banner-play-button {
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: white;
    z-index: 10;
    box-shadow: 0px 0px 10px lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section3-banner .banner-play-button i {
    color: black;
  }

  .section4 {
    height: 600px;
    /* background-color: rgb(151, 169, 154); */
  }

  .section4 .container {
    display: flex;
    align-items: center;
  }

  .pic-element {
    display: flex;
    position: relative;
  }

  .pic {
    z-index: 1;
  }

  .pic img {
    height: 400px;
    margin: 100px;
    margin-right: 50px;
  }

  .pic-background {
    position: absolute;
    left: 47px;
    top: 200px;
  }

  .pic-background img {
    height: 350px;
    /* position: absolute; */
  }

  .text-pic img {
    height: 40px;
  }

  .text-text span {
    color: black;
    font-size: 20px;
    /* padding-top: 30px; */
  }

  .text-text {
    margin-top: 30px;
  }

  .text-name {
    margin-top: 30px;
  }

  .text-name span {
    color: black;
    font-size: 20px;
    font-weight: 500;
  }

  .text-title span {
    font-weight: 500;
  }

  .section5-header h3 {
    color: var(--grey-text);
    text-align: center;
  }

  .container5-logos {
    display: flex;
    justify-content: space-around;
  }

  .container5-logos .logo img{
    height: 40px;
  }

  .section6 {
    margin-top: 40px;
    margin-bottom: 80px;
  }

 .card-section {
  display: flex;
 }

  .section6-header {
    text-align: center;
  }

  .section6-header h3 {
    margin-bottom: 0px;
    margin-top: 60px;
    font-size: 30px;
  }

  .card {
    height: 450px;
    width: 400px;
    box-shadow: 0px 8px 10px lightgray;
    margin: 40px;
    margin-top: 50px;
    display: flex;
  }

  .card-content {
    /* background-color: lightblue; */
    width: 320px;
    margin: 40px;

  }

   .tablet-text {
    display: none;
  }

  .price  {
    color: black;
    font-size: 50px;

  }


  .mo {
    /* width: 320px; */
    color: black;
  }

  .card .card-content hr {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .card .card-content .text {
    font-size: 19px;
  }

  .card-button {
    margin-top: 60px;
    margin-bottom: 10px;
  }

  .mini .mini-tablet-text {
    display: none;
  }

  .mini-cards {
    margin-top: 100px;
    height: 410px;
    width: 510px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
  }

  .mini {
    height: 200px;
    width: 250px;
    /* border: 1px solid black; */
  }

  .mini h3  {
    margin: 10px 0px 10px 0px;
  }

  .mini-pic {
    height: 50px;
  }

  .mini-header-box {
    display: flex;
    height: 27px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mini-header-box h3 {
    margin-right: 20px;
  }


  .section7 {
    height: 700px;
    background-color: #1e345a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 20px;
  }

  /* .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  } */





  .text-container h3 {
    color: white;
    margin-bottom: 0px;
  }

  .text-container-tablet-span1 {
    display: none;
  }

  .text-container hr {
    color: white;
    width: 50%;
    margin-left: 0px;
  }

  .text-container-h3-1 {
    font-size: 30px;
  }

  .form-header-tablet {
    display: none;
  }

  .text-container .text-container-span1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .text-container .text-container-span1 {
    font-size: 18px;
  }

  .text-container .text-container-span2 {
    color: white;
    margin-top: 20px;
    margin-bottom: 50px;

  }

  .text-container-icons {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }

  .text-container-icons img {
    height: 60px;
    border-radius: 50%;
    margin-right: 40px;
  }

  .text-container-icons .large-person {
    height: 80px;
  }

  .section7-form {
    background-color: white;
    min-height: 90%;
    border-radius: 10px;
    padding:0px 30px;
    margin-right: 30px;
    max-width: 40%;
  }

  input, select {
    height: 30px;
    width: 150px;
    margin-top: 20px;
    /* margin-left: 10px; */
    border: 1px solid lightgray;
    border-radius: 5px;
  }

  select {
    width: 158px;
  }

  .section7-form h3 {
    margin-bottom: 0px;
    margin-top: 35px;
  }

  .form-name-box, .selector-box {
    display: flex;
    justify-content: space-between;

  }

  textarea {
    width: 100%;
    padding: 10px 0px;
    margin: 20px 0px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }

  .checkbox-box {
    display: flex;
    height: 30px;

  }

  .checkbox-box input {
    width: 30px;
    margin-top: 0px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }

  .checkbox-box span {
    width: 350px;
  }

  .privacy-policy-box {
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
    /* justify-content: center; */
    /* gap: 20px; */
  }

  .privacy-policy-box span {
    font-weight: 500;
  }



  .policy-span1 {
    color: var(--blue);
    border-bottom: 1px dashed ;
  }

  .form-button-box {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .section8 {
    height: 350px;

    display: flex;
  }

  .top-footer {
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 100px;
    width: 1024px;
    height: 240px;
    display: flex;
    justify-content: space-between;

  }

  .logo-box {
    width: 300px;
  }

  .top-footer-right-box {
    width: 650px;
    display: flex;
  }

  .logo-box img {
    height: 50px;
  }

  .company-box, .features-box, .doc-box, .resources-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: left;
    padding-right: 20px;
  }

  .company-box span, .features-box span, .doc-box span, .resources-box span {
    text-align: left;
  }

  .company-box .career-box {
    display: flex;
  }

  .career-box {
    display: flex;
    height: 27px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

 .career-box .button {
  background-color: var(--blue);
  height: 20px;
  width: 100px;
  /* margin-left: 10px; */
  display: flex;
  align-items: center;
  border-radius: 5px;
 }

 .career-box .button span {
  line-height: 0;
  font-size: 10px;
  color: white;
 }

 .features-box .blue-span {
  color: var(--blue);
 }

 .section9 {
  height: 250px;
 }

 .hr-box {
  display: flex;
  justify-content: center;
 }

 .footer-hr {
  border-bottom: 1px solid lightgray;
  width: 90%;

 }

 .bottom-footer {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 .footer-socials i {
  margin-right: 15px;
 }

 #footer-select {
  margin-top: 0px;
 }

 .rights-reserved, .end-note {
  text-align: center;
 }

 .end-note {
  margin-top: 20px;
 }
