/* * {
  border: 1px solid red;
} */

.nav-section {
  width: 100%;
  height: 500px;
  background-image: url(/saas-project-assets/backgrounds/background-top.svg);
}

.nav-hero {
  display: flex;
  justify-content: space-between;
  padding: var(--size-20) var(--size-30);
}

.nav-img img {
  height: 40px;
}

.nav-box nav ul {
  display: flex;
  margin-right: -12rem;
}

.nav-box nav ul li {
  padding: 0 var(--size-10);
}

.features {
  color: var(--blue);
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 50px 40px;
}

.main-content .main-left-box .bold-header {
  padding-bottom: 20px;

}

.main-content .main-left-box .bold-header .header-text {
  font-size: 50px;
  line-height: 1;
  color: black;
}

.main-content .main-left-box .left-box-text {
  padding-bottom: 20px;
}

.main-content .main-left-box .left-box-text span {
  font-size: 16px;
}

.button-box button i {
  padding-right: 3px;
}

.button-box span {
  padding-left: 30px;
  color: var(--blue);
  font-size: var(--size-20);
  font-weight: 500;
}

.icon-box {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.row {
  display: flex;
  justify-content:space-between;
  padding-bottom: 60px;
}

.pic-box {
  background-color: white;
  box-shadow: 0px 0px 10px lightgray;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box div img {
  /* height: 4rem;
  box-shadow: 0px 0px 20px black ;
  border-radius: 50%;
  padding: 10px;
  object-fit: cover; */
  height: 60%;
}

.row3 {
  padding-bottom: 0px;
}

.icon-box .row2 .lg-img {
  height: 80%;
}

.icon-box .row .small-box {
  height: 60px;
  width: 60px;
}

.icon-box .row1 .small-box {
  margin-left: 40px;
}

.icon2 {
  margin-right: 100px;
}

.icon5 {
  margin-right: 120px;
}

.icon6 {
  margin-left: 100px;
}

.icon7 {
  margin-top: 20px;
}

.section1 {
  background-color: white;
  height: 500px;
}

.section1-header {
  margin-top: 120px;
  text-align: center;
}

.section1-header h3 {
  color: black;
  font-size: var(--size-30);
  margin-bottom: 0px;
}

.section1-header span {
  font-size: 17px;
}

.section1-grid {
  /* display: grid; */
  column-count: 4;
  max-width: 900px;
  gap: 30px;
  margin: 0 auto;
  margin-top: 50px;
}

.grid-column {
  box-shadow: 0px 5px 10px lightgray;
  height: 265px;
  /* display: flex;
  flex-direction: column; */
}

.responsive-pic {
  height: 55px;
  margin: 15px 15px 0px 15px;
}

.grid-column h3 {
  margin: 0px 15px 15px 15px;
}

.grid-column .column-text, a {
  margin: 0px 10px 20px 15px;
}

.grid-column a {
  font-weight: 500;
  color: var(--blue);
}

.section2 {
  background-color: #f9f9f9;
  margin: 0px 30px;
  height: 400px;
  display: flex;
  justify-content: space-between;
}

.section2 .container {
  /* background-color: lightgray; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
}
.section2-header {
  line-height: 1.2;
  padding-left: 30px;
}

.section2-header h3 {
  font-size: 30px;
  font-weight: 400;

}

.section2-banner {
/* display: flex; */
width: 50%;
align-self: flex-end;
}

.section2-banner img{
  width: 100%;
  /* bottom: 0; */

}

.section3 {
  height: 800px;
  justify-content: center;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.section3 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section3 .container .section3-header {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.section3-header h3 {
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 70px;
}

.section3-header h3, span {
  width: 60%;
  text-align: center;
}

.circles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  width: 70%;
}

.dot-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dot-container {
  background-color: #edf2ff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  background-color: var(--blue);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: inline-block;

}

.dot-text-container .text {
  padding-top: 20px;
  color: black;
}

.line {
  width: 170px;
  height: 1px;
  border-bottom: 1px solid rgb(231, 231, 231);

  }

  .section3-banner img{
    width: 100%;

  }
